<aside class="left-sidemenu collapse navbar-collapse d-block" id="navbarSupportedContent">
    <div class="left-nav-inner">
        <div class="navbarlft">
            <div class="logo">
                <img [src]="logoPath" alt="Main Logo">
            </div>
            <ul>
                <li class="is-active">
                    <a href="">
                        <i class="icon-dash"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-agency"></i>
                        <span>Agencies</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-division"></i>
                        <span>Division</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-location"></i>
                        <span>Location</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-user"></i>
                        <span>Users</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="keep-safe-outer">
            <figure class="">
                <img [src]="SafeIcon" alt="Safefy">
            </figure>
            <h3>Keep you safe!</h3>
            <p>Update your security password, keep your account safe!</p>
            <h4>Update Privacy</h4>
        </div>
    </div>
</aside>