@mixin bp($point) {
  @if $point == xxl {
    @media (max-width: $break-xxl) { @content; }
  }
  @else if $point == extra-large-screen {
    @media (max-width: $break-extra-large) { @content; }
  }
  @else if $point == lartge-screen {
    @media (max-width: $break-large) { @content; }
  }
  @else if $point == medium-screen {
    @media (max-width: $break-medium) { @content; }
  }
  @else if $point == small-screen {
    @media (max-width: $break-small)  { @content; }
  }
  @else if $point == extra-small-screen {
    @media (max-width: $break-xtra-small)  { @content; }
  }
}

@mixin transition($property: all, $duration: 0.5s, $timing: ease-out, $delay: 0s) {
  -ms-transition: #{$property} #{$duration} #{$timing} #{$delay};
  -webkit-transition: #{$property} #{$duration} #{$timing} #{$delay};
  -moz-transition: #{$property} #{$duration} #{$timing} #{$delay};
  -o-transition: #{$property} #{$duration} #{$timing} #{$delay};
  transition: #{$property} #{$duration} #{$timing} #{$delay};
}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}