$full-height:       100%;
$body-bg:           #EFF3FD;
$font-body:         "Plus Jakarta Sans", serif;
$heading-black:     'gilroy-blackuploaded_file';
$heading-bold:      'gilroy-bolduploaded_file';
$heading-medium:    'gilroy-mediumuploaded_file';

$light-color-theme: #e3b01d;
$dark-color-theme: #eff3fd;

$heading-color:      #002337;
$black-color-text:       #000000;
$black-color-bg:       #000000;
$white-bg:          #ffffff;
$white-color-text:       #ffffff;
$admin-color:       #00261C;
$paragraph:         #5A5A5A;
$green-color:       #00DEA3;
$pink-color:        #F23985;
$placeholder:       #898989;
$input-color:       #333333;
$input-border:      #DCDCDC;
$nav-link:          #A0AEC0;
$safe-lft-bx:       #405A69;
$safe-black:        #231F20;
$selectbox:         #202020;
$export-color:      #4896FE;
$expeot-bg:         rgba(72, 150, 254, 0.15);
$checkbox-border:   #CBD5E0;
$table-color:       #202020;
$pagination-bg:     rgba(0, 190, 156, 0.1);


/* ----------media-queries-------- */
$break-xxl: 1440px;
$break-extra-large: 1340px;
$break-large: 1199px;
$break-medium: 991px;
$break-small: 767px;
$break-xtra-small: 576px;