<router-outlet>
    <div class="d-md-flex w-100 h-100 align-self-stretch">
        <app-sidenavbar class="h-100"></app-sidenavbar>
        <div class="main-wrapper">
            <app-header></app-header>
            <section class="total-chart-sec cf">
				<div class="row">
					<div class="col-md-6 col-lg-6 col-xl-3 mb-3 d-md-flex align-self-stretch">
						<div class="card-common total-bx yellow-bg-hover">
							<figure>
								<img src="assets/images/coin-ico1.png">
							</figure>
							<div class="chat-line">
								<svg width="100" height="56" viewBox="0 0 139 76" fill="none" xmlns="http://www.w3.org/2000/svg">
									<!-- Animated Path -->
									<path 
									  class="line" 
									  d="M138 1C129.402 19.5 121.294 43.1171 104.038 43.1171C82.9776 43.6841 78.673 22.6489 60.6169 23.8298C30.0935 23.8298 41.2711 75 -4.76837e-06 75" 
									  stroke="url(#paint0_linear_1_1303)" 
									  stroke-width="2" 
									/>
									<!-- Gradient Definition -->
									<defs>
									  <linearGradient id="paint0_linear_1_1303" x1="138" y1="1" x2="22.2791" y2="100.826" gradientUnits="userSpaceOnUse">
										<stop offset="0.125" stop-color="#00DEA3" stop-opacity="0"/>
										<stop offset="0.488932" stop-color="#00DEA3"/>
										<stop offset="1" stop-color="#00DEA3" stop-opacity="0"/>
									  </linearGradient>
									</defs>
								  </svg>
							</div>
							<span>From Social</span>
							<h3>20</h3>
							<h4 class="up-green"><i class="icon-graphdown me-1"></i>7.2%</h4>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-3 mb-3 d-md-flex align-self-stretch">
						<div class="card-common total-bx blue-bg-hover">
							<figure>
								<img src="assets/images/coin-ico2.png">
							</figure>
							<div class="chat-line">
								<svg width="100" height="60" viewBox="0 0 139 78" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path class="line" d="M1 67.591C39.3178 43.625 35.1533 2 50.4247 2C65.4184 2 64.5854 44.8864 87.9094 44.8864C111.233 44.8864 107.346 76 139 76" stroke="url(#paint0_linear_1_1314)" stroke-width="2.66667"/>
									<defs>
										<linearGradient id="paint0_linear_1_1314" x1="4.05413" y1="60.0227" x2="120.148" y2="83.3576" gradientUnits="userSpaceOnUse">
											<stop stop-color="#F23985" stop-opacity="0"/>
											<stop offset="0.339843" stop-color="#F23985"/>
											<stop offset="0.631943" stop-color="#F23985"/>
											<stop offset="1" stop-color="#F23985" stop-opacity="0"/>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<span>From Strech Zone Website</span>
							<h3>96</h3>
							<h4 class="down-pink"><i class="icon-graphdown me-1"></i>6.2%</h4>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-3 mb-3 d-md-flex align-self-stretch">
						<div class="card-common total-bx coral-bg-hover">
							<figure>
								<img src="assets/images/coin-ico3.png">
							</figure>
							<div class="chat-line">
								<svg width="100" height="56" viewBox="0 0 139 76" fill="none" xmlns="http://www.w3.org/2000/svg">
									<!-- Animated Path -->
									<path 
									  class="line" 
									  d="M138 1C129.402 19.5 121.294 43.1171 104.038 43.1171C82.9776 43.6841 78.673 22.6489 60.6169 23.8298C30.0935 23.8298 41.2711 75 -4.76837e-06 75" 
									  stroke="url(#paint0_linear_1_1303)" 
									  stroke-width="2" 
									/>
									<!-- Gradient Definition -->
									<defs>
									  <linearGradient id="paint0_linear_1_1303" x1="138" y1="1" x2="22.2791" y2="100.826" gradientUnits="userSpaceOnUse">
										<stop offset="0.125" stop-color="#00DEA3" stop-opacity="0"/>
										<stop offset="0.488932" stop-color="#00DEA3"/>
										<stop offset="1" stop-color="#00DEA3" stop-opacity="0"/>
									  </linearGradient>
									</defs>
								  </svg>
							</div>
							<span>Total Leads</span>
							<h3>187</h3>
							<h4 class="up-green"><i class="icon-graphdown me-1"></i>6.5%</h4>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xl-3 mb-3 d-md-flex align-self-stretch">
						<div class="card-common total-bx brown-bg-hover">
							<figure>
								<img src="assets/images/coin-ico4.png">
							</figure>
							<div class="chat-line">
								<svg width="100" height="56" viewBox="0 0 139 76" fill="none" xmlns="http://www.w3.org/2000/svg">
									<!-- Animated Path -->
									<path 
									  class="line" 
									  d="M138 1C129.402 19.5 121.294 43.1171 104.038 43.1171C82.9776 43.6841 78.673 22.6489 60.6169 23.8298C30.0935 23.8298 41.2711 75 -4.76837e-06 75" 
									  stroke="url(#paint0_linear_1_1303)" 
									  stroke-width="2" 
									/>
									<!-- Gradient Definition -->
									<defs>
									  <linearGradient id="paint0_linear_1_1303" x1="138" y1="1" x2="22.2791" y2="100.826" gradientUnits="userSpaceOnUse">
										<stop offset="0.125" stop-color="#00DEA3" stop-opacity="0"/>
										<stop offset="0.488932" stop-color="#00DEA3"/>
										<stop offset="1" stop-color="#00DEA3" stop-opacity="0"/>
									  </linearGradient>
									</defs>
								  </svg>
							</div>
							<span>Total Agencies</span>
							<h3>50</h3>
							<h4 class="up-green"><i class="icon-graphdown me-1"></i>9.5%</h4>
						</div>
					</div>
				</div>
			</section>

			<section class="location-sec cf">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xl-9">
						<div class="card-common location-outer cf">
							<div class="d-md-flex align-items-center w-100 mb-3">
								<div class="left-location-bx">
									<h2>Location Leads List</h2>
									<p>lorem ipsum team dolor sit amet</p>
								</div>
								<div class="location-srch ms-md-auto">
									<input type="text" class="dark-form-control small-input" placeholder="Search">
									<i class="icon-search"><img src="assets/images/srch-ico1.svg"></i>
								</div>
							</div>
							<div class="d-md-flex align-items-center w-100 gap-2 flex-wrap">
								<div class="form-group w-150 cf">
                                    <div class="dropdown">
                                        <button class="dark-form-control selectpicker" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Division
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" href="#">Action</a></li>
                                          <li><a class="dropdown-item" href="#">Another action</a></li>
                                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
								</div>
								<div class="form-group w-150 cf">
                                    <div class="dropdown">
                                        <button class="dark-form-control selectpicker" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Location
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" href="#">Action</a></li>
                                          <li><a class="dropdown-item" href="#">Another action</a></li>
                                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
								</div>
								<div class="form-group w-150 cf">
                                    <div class="dropdown">
                                        <button class="dark-form-control selectpicker" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Feb 23 - Mar 22, 2023
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" href="#">Action</a></li>
                                          <li><a class="dropdown-item" href="#">Another action</a></li>
                                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
								</div>
								<div class="export-btn ms-md-auto">
									<a href="javascript:void(0)"><i class="icon-file me-1"></i>Export</a>
								</div>
							</div>
							<div class="general-table">
								<div class="divtable">
									<div class="divtable-heading">
										<div class="divtable-row">
											<div class="divtable-head">
												<div class="circle-checkbox">
													<input type="checkbox" name="rememberme" id="rememberme">
													<label for="rememberme"></label>
												</div>
											</div>
											<div class="divtable-head">Location Id</div>
											<div class="divtable-head">Location Name</div>
											<div class="divtable-head">Total leads</div>
											<div class="divtable-head">From Social</div>
										</div>
									</div>
									<div class="divtable-body">
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
										<div class="divtable-row">
											<div data-title="Check location" class="divtable-cell">
												<div class="circle-checkbox">
													<input type="checkbox" name="located" id="row1">
													<label for="row1"></label>
												</div>
											</div>
											<div data-title="Location Id" class="divtable-cell">
												<p>13527</p>
											</div>
											<div data-title="Location Name" class="divtable-cell">
												<p>Stretch Zone - Scarsdale, NY</p>
											</div>
											<div data-title="Total leads" class="divtable-cell">
												<p>8</p>
											</div>
											<div data-title="From Social" class="divtable-cell">
												<p>8</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-md-flex align-items-center w-100 mt-md-3 mt-2">
								<div class="pagination-custom cf">
									<ul id="pagination" class="d-flex align-items-center">
										<li class="fist-pagi"><a href="#"><i class="fa fa-angle-left"></i></a></li>
										<li><a href="#" class="active">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">...</a></li>
										<li><a href="#">10</a></li>
										<li class="last-pagi"><a href="#"><i class="fa fa-angle-right"></i></a></li>
									  </ul> 
								</div>
								<div class="showing-change d-md-flex align-items-center ms-md-auto">
									<small>Showing 1 to 8 of 50 entries</small>
									<select class="dark-form-control selectpicker" title="Show 8">
										<option>Show 1</option>
										<option>Show 2</option>
										<option>Show 3</option>
										<option>Show 4</option>
										<option>Show 5</option>
										<option>Show 6</option>
										<option>Show 7</option>
										<option>Show 8</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-12 col-xl-3">
						<div class="card-common updated-outer cf">
							<h2>Updates</h2>
							<small>lorem ipsum team dolor sit amet</small>
							<ul>
								<li>
									<figure>
										<img src="assets/images/coin-ico1.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico2.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico3.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico4.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico1.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico2.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico3.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico4.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
								<li>
									<figure>
										<img src="assets/images/coin-ico4.png">
									</figure>
									<div class="update-info">
										<p>Loream ipsum</p>
										<span>lorem ipsum team dolor</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
                
			</section>
        </div>
    </div>
<router-outlet />
